<header class="header">
    <img class="header__logo" src="../../images/mid_logo.png" alt="logo">
    <div class="header-title">
        <%= locals.headerTitle ? headerTitle : 'Welcome' %>
    </div>
    <%- include('../partials/navigation') %>
</header>